<h1 class="privacy_hell">Предоставляя сервис Fandot, мы&nbsp;получаем личную информацию пользователей. Мы&nbsp;делаем все для обеспечения её&nbsp;безопасности и&nbsp;в&nbsp;то&nbsp;же время предоставляем сообществу возможность управлять своими данными.</h1>
<div class="holder">
  <h2>Как мы используем информацию:</h2>
  <p>Мы&nbsp;используем информацию, которую мы&nbsp;собираем (как отдельно, так и&nbsp;в&nbsp;сочетании с&nbsp;другой информацией, собранной в&nbsp;соответствии с&nbsp;этим уведомлением), чтобы помочь нам управлять нашим сервисом, улучшать сайт и&nbsp;общаться с&nbsp;вами.</p>
  <p>Мы&nbsp;не&nbsp;передаём собранную информацию третьим лицам без согласия пользователей, если передача не&nbsp;описана в&nbsp;условиях предоставления сервиса.</p>
</div>
<div class="holder">
  <h2>Что мы собираем:</h2>
  <ol>
    <li>Информацию, связанную с&nbsp;аккаунтом Fandot: email, пароль, имя пользователя.</li>
    <li>Информацию о&nbsp;девайсе, с&nbsp;которого заходят на&nbsp;сайт. (IP-адреса, уникальные идентификаторы устройств, возможности обработки, производитель и&nbsp;модель, язык и&nbsp;другие региональные настройки, географическое положение, разрешение экрана и&nbsp;аналогичные настройки.).</li>
    <li>Мы&nbsp;собираем информацию от&nbsp;третьих лиц, чтобы помочь нам определить, откуда пользователь подключается к&nbsp;сайту.</li>
    <li>Мы&nbsp;используем файлы cookie, для автоматического сбора и&nbsp;хранения информации о&nbsp;том, как пользователи взаимодействуют с&nbsp;Fandot, а&nbsp;также об&nbsp;используемом устройстве.</li>
  </ol>
</div>
<div class="holder">
  <h2>Безопасность</h2>
  <p>Мы&nbsp;обязуемся защищать информацию о&nbsp;пользователях и&nbsp;соблюдать наши обязательства в&nbsp;отношении применимых законов о&nbsp;защите данных, но&nbsp;не&nbsp;можем абсолютно гарантировать безопасность любых данных, которые мы&nbsp;получаем. Решив поделиться информацией с&nbsp;нами, вы&nbsp;признаете этот риск.</p>
</div>
