<h1>Пердоставляя сервис Fandot, мы получаем личную информацию пользователей. Мы делаем все для обеспечения её безопасности и в то же время предоставляем сообществу возможность управлять своими данными.</h1>
<div class="holder">
  <h2>Как мы используем информацию:</h2>
  <p>Мы используем информацию, которую мы собираем (как отдельно, так и в сочетании с другой информацией, собранной в соответствии с этим уведомлением), чтобы помочь нам управлять нашим сервисом, улучшать сайт и общаться с вами.</p>
  <p>Мы не передаём собранную информацию третьим лицам без согласия пользователей, если передача не описана в условиях предоставления сервиса.</p>
</div>
<div class="holder">
  <h2>Что мы собираем:</h2>
  <ol>
    <li>Информацию, связанную с аккаунтом Fandot: email, пароль, имя пользователя.</li>
    <li>Информацию о девайсе, с которого заходят на сайт. (IP-адреса, уникальные идентификаторы устройств, возможности обработки, производитель и модель, язык и другие региональные настройки, географическое положение, разрешение экрана и аналогичные настройки.).</li>
    <li>Мы собираем информацию от третьих лиц, чтобы помочь нам определить, откуда пользователь подключается к сайту.</li>
    <li>Мы используем файлы cookie, для автоматического сбора и хранения информации о том, как пользователи взаимодействуют с Fandot, а также об используемом устройстве.</li>
  </ol>
</div>
<div class="holder">
  <h2>Безопасность</h2>
  <p>Мы обязуемся защищать информацию о пользователях и соблюдать наши обязательства в отношении применимых законов о защите данных, но не можем абсолютно гарантировать безопасность любых данных, которые мы получаем. Решив поделиться информацией с нами, вы признаете этот риск.</p>
</div>
