<%= stylesheet_link_tag 'homeindex', media: 'all', 'data-turbolinks-track': 'reload'%>

<div class="home_logo"></div>
<p class="home_h">погрузись во&nbsp;вселенную таймлайнов</p>
<div class="home_c">
  <div class="u_c">
    <p>координаты обновляются<br>в реальном времени</p>
    <p>48.854298, 2.338132<br>долина аниме</p>
  </div>
  <div class="b_c">
    <p>исследуй<br>вселенные с нами</p>
    <p>погрузись во вселенную</p>
  </div>
</div>

<h1>У нас есть все эти таймлайны:</h1>
<div class="list">
  <div class="t_one">
    <p>«Доктор кто: День доктора»</p>
    <p>Наруто</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
  </div>
  <div class="t_two">
    <p>«Доктор кто: День доктора»</p>
    <p>Наруто</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
  </div>
  <div class="t_three">
    <p>«Доктор кто: День доктора»</p>
    <p>Наруто</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <p>Миры Г. Ф. Лавкрафта</p>
    <a href="/posts">
      <div class="sall">
        <p>посмотреть все...</p>
        <div class="underline"></div>
      </div>
    </a>
  </div>
</div>



<%= react_component 'O_Particles'%>
