<%= stylesheet_link_tag 'homeindex', media: 'all', 'data-turbolinks-track': 'reload'%>

<div class="home_mobile">
  <div class="mob_hello">
    <div class="home_logo_mob"></div>
    <div class="frame">
      <div class="home_c">
        <div class="u_c">
          <div><p>координаты обновляются<br>в реальном времени</p></div>
          <div><div class="counter"></div><p>текущее положение</p></div>
        </div>
        <div class="b_c">
          <div><p>исследуй<br>вселенные с нами</p></div>
          <div><p>погрузись во вселенную</p></div>
        </div>
      </div>
    </div>
  </div>

  <div class="mob_have">
    <h1>У нас есть все эти таймлайны:</h1>
    <div class="list">
      <div class="t_one">
        <p>«Доктор кто: День доктора»</p>
        <p>Наруто (манга)</p>
        <p>Друзья</p>
        <p>Блейм 1-11 том</p>
        <p>История Элой</p>
        <p>Приключения в Кайбер</p>
        <p>Миры Г. Ф. Лавкрафта</p>
        <p>Метафоры «Великая красота»</p>
        <p>Геншин импакт (сюжет)</p>
        <p>Конь Боджек</p>
        <p>Shiva baby разбор фильма</p>
        <p>Совершенно новый зверь</p>
        <p>Хронология Demon Slayer</p>
        <p>Хронология ГА</p>
        <p>Махабхарата</p>
        <p>История Орков 40K</p>
        <p>Как я ...</p>
        <p>Лига DC</p>
        <p>Хранители (фильм)</p>
        <p>Demon's Souls</p>
        <p>Demon Slayer том 2</p>
        <%= link_to "../posts" do %>
          <div class="mob_link">
            <p>посмотреть все</p>
            <div class="mob_underline"></div>
          </div>
        <% end %>
      </div>
  </div>
</div>
</div>


<div class="home_desk">
  <div class="home_logo"></div>
  <p class="home_h">погрузись во&nbsp;вселенную таймлайнов</p>
  <div class="home_c">
    <div class="u_c">
      <div><p>координаты обновляются<br>в реальном времени</p></div>
      <div><div class="counter"></div><p>текущее положение</p></div>
    </div>
    <div class="b_c">
      <div><p>исследуй<br>вселенные с нами</p></div>
      <div><p>погрузись во вселенную</p></div>
    </div>
  </div>

  <h1>У нас есть все эти таймлайны:</h1>
  <div class="list">
    <div class="t_one">
      <p>«Доктор кто: День доктора»</p>
      <p>Наруто (манга)</p>
      <p>Друзья</p>
      <p>Блейм 1-11 том</p>
      <p>История Элой</p>
      <p>Приключения в Кайбер</p>
      <p>Миры Г. Ф. Лавкрафта</p>
      <p>Метафоры «Великая красота»</p>
      <p>Геншин импакт (сюжет)</p>
      <p>Конь Боджек</p>
      <p>Shiva baby разбор фильма</p>
      <p>Совершенно новый зверь</p>
      <p>Хронология Demon Slayer</p>
      <p>Хронология ГА</p>
    </div>
    <div class="t_two">
      <p>Махабхарата</p>
      <p>История Орков 40K</p>
      <p>Как я ...</p>
      <p>Лига DC</p>
      <p>Хранители (фильм)</p>
      <p>Demon's Souls</p>
      <p>Demon Slayer том 2</p>
      <p>Пацаны 1 сезон</p>
      <p>ARASAKA 2077</p>
      <p>Бэби Йода лучший</p>
      <p>Ночные этюды</p>
      <p>Blame! Тао и корпорации</p>
      <p>Нация огня</p>
      <p>Саватун и хайв</p>
    </div>
    <div class="t_three">
      <p>«Доктор кто: День доктора»</p>
      <p>Наруто</p>
      <p>Темный дворецкий, оборотни</p>
      <p>WARHAMMER 40K ересь</p>
      <p>Геймер фьюил в 2022</p>
      <p>Гарри Поттер из фильмов</p>
      <p>Комиксы про пацанов</p>
      <p>С широко открытыми глазами</p>
      <p>Хиральные связи</p>
      <p>Рэд бул в играх</p>
      <p>История Рхулка Destiny 2</p>
      <p>Дроу павер</p>
      <a href="/posts">
        <div class="sall">
          <p>посмотреть все...</p>
          <div class="underline"></div>
        </div>
      </a>
    </div>
  </div>
</div>

<%= react_component 'O_Particles'%>
