<%= stylesheet_link_tag 'postindex', media: 'all', 'data-turbolinks-track': 'reload'%>

<p id="notice"><%= notice %></p>

<%= react_component 'O_AllPosts', { posts: @posts }  %>

<div class="pagination_wrapper">
	<%= will_paginate @posts, previous_label: "Назад" %>
</div>
