<%= stylesheet_link_tag 'aboutindex', media: 'all', 'data-turbolinks-track': 'reload'%>

<div class="opening">
  <p>мы — библиотека таймланов</p>
  <h1>Добро пожаловать в мир фантастических вселенных!</h1>
  <p class="bot">по всему, что интересно тебе</p>
    <div class="ovni"><p>по играм</p></div>
    <div class="ovni"><p>аниме</p></div>
    <div class="ovni"><p>сериалам</p></div>
    <div class="ovni"><p>фильмам</p></div>
</div>

<div class="descr">
  <p>Fandot — постоянно пополняющийся сборник таймлайнов самых различных вселенных.<br>Даёт возможность разобраться в хронологии любимых фандомов, а также творить, занимаясь тем, что, действительно, волнует.</p>
</div>

<div class="features">
  <div class="logos"></div>
  <div>
    <h2>Оставь след в фандоме</h2>
    <p>Fan. — удобный инструмент для создания таймлайнов ваших любимых вселенных. Стань одним из наших авторов, твори и неси свои знания в мир.</p>
  </div>
  <div>
    <h2>Иди к истине</h2>
    <p>Fan. предоставляет возможность создания бесконечного множества таймлайнов относящихся к одному и тому же продукту. Смотри разные версии, компилируй, сравнивай и создавай своё.</p>
  </div>
  <div>
    <h2>Сохраняй свои истории</h2>
    <p>Тебе больше не придётся писать тонны заметок во время сессий. С Fan. истории игр всегда будут с тобой — делись ими и храни похождения героев в удобном и наглядном формате.</p>
  </div>
  <button class="lst">создать таймлайн</button>
</div>

<div class="ending">
  <h1>ИССЛЕДУЙ И СОЗДАВАЙ</h1>
  <p>или</p>
  <button class="lst tw">найди рандомный таймлайн</button>
</div>
