.avatar_wrap {
  background: var(--lime);
  border-radius: 100%;
  width: min-content;
  img {
    display: block;
    margin: 0;
  }
}
.micro {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  border: 3px solid yellow;
  border-color: var(--lime);
}
.small {
  border: 3px solid yellow;
  border-color: var(--lime);
  height: 34px;
  width: 34px;
  border-radius: 100%;
  a {
    height: 34px;
    width: 34px;
  }
}
.med {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  border: 3px solid yellow;
  border-color: var(--lime);
}
.commenter {
  width: 69px;
  height: 69px;
  border-radius: 100%;
  border: 3px solid yellow;
  border-color: var(--lime);
}
.profile {
  width: 112px;
  height: 112px;
  border-radius: 100%;
  border: 5px solid yellow;
  border-color: var(--lime);
}


.comein {
  height: 34px;
  width: 34px;
  background: url("comein.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
