.commenter_pic {
  a {
    width: 69px;
    height: 69px;
  }
}
.commenter {
  margin: 0;
}
.input_line {
  display: flex;
  width: 100%;
  gap: 26px;
}
.comment_input, .new_comment {
  height: 69px;
  width: 100%;
}
