h1{
  z-index: 1;
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  text-align: center;
  line-height: 106%;
  margin: 0;
}
.lst {
  margin-top: 43px;
  background: var(--lime);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #030303;
  transition: .8s;
  outline: none;
  border: none;
  margin-left: 150px;
}
.tw {
  margin-left: 444px;
}
.descr {
  margin-top: 20%;
}
.opening{
  margin-top: 16vh;
  display: block;
  position: relative;
  color: var(--lime);
  height: 30%;
  p{
    font-size: 24px;
    line-height: 28px;
    width: 100%;
  }
  .bot{
    text-align: right;
  }
}
.descr{
  p{
    font-family: 'Rubik';
    font-size: 28px;
    line-height: 33px;
    width: 60%;
  }
}
.features{
  .logos{
    margin: 0 auto;
    height: 34px;
    width: 40px;
    background: url(assets/home_logo.svg)
  }
  margin: 187px auto 340px auto;
  width: 47%;
  div{
    margin-bottom: 69px;
  }
  h2{
    font-family: 'Gymkhana';
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 19px;
  }
  p{
    margin-top: 19px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
  }
}
.ending{
  p{
    width: 100%;
    font-size: 24px;
    text-align: center;
  }
  margin-bottom: 284px;
}
.ovni{
  position: absolute;
  p{
    font-size: 14px;
  }
}
.ovni:first-of-type{
  top: 50px;
  right: 0;
}
.ovni:nth-of-type(2){
  right: 350px;
  top: 130px;
}
.ovni:nth-of-type(3){
  right: 50px;
  top: 210px;
}
.ovni:nth-of-type(4){
  left: 170px;
  top: 290px;
}

@media only screen and (max-width: 390px) and (max-height: 844px) and (-webkit-device-pixel-ratio: 3) {
 .opening {
    h1 {
      font-size: 31px;
      text-align: left;
      font-family: Gymkhana;
    }
    p {
      display: none;
    }
 }
 .descr {
   margin-top: 32px;
   p {
     width: 100%;
     font-size: 18px;
     line-height: 24px;
   }
 }
 .features {
   margin-left: 0;
   margin-top: 16vh;
   margin-right: 0;
   width: 100%;
   margin-bottom: 16vh;
   h2 {
     font-size: 31px;
     text-align: left;
     font-family: Gymkhana;
     width: 100%;
     line-height: 106%;
   }
   p {
     width: 100%;
     font-size: 18px;
     line-height: 24px;
   }
 }
 .ending {
   display: none;
 }
 .lst {
       margin-left: 22%;
 }
}
