/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 16px;
  background: black;
}
  .top_menu p {
    font-family: Rubik;
    font-size: 18px;
    line-height: 0px;
  }
  .underline {
    width: 100%;
    height: 1px;
    background: white;
  }
  .link {
    margin-right: 30px;
  }
  .a {
    display: flex;
  }
.uhodi {
  color: green;
}
.none {
  display: none;
}
.upperrow {
  display: flex;
}
.edit > * {
  border-radius: none;
  outline-offset: none;
}
.lnl {
  width: 20vw;
  border: none;
  color: black;
  padding: 10px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
}
.lnl:focus {
  border: none;
  outline: none !important;
  box-shadow: none;
}
.ok {
  margin-right: 5%;
  width: auto !important;
}

.acc {
  display: flex;
  align-items: center;

}
.acc a {
  margin-left: 15px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
}
a {
  text-decoration: none;
}
body {
  background: black;
  margin: 0;
  padding-left: 9.44vw;
  padding-right: 9.44vw;
}
.allin {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comment_section h2 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 108%;
  color: #D2FB51;
}
.separate {
  padding: 22px;
  background: white;
  width: 36.72vw;
  margin-bottom: 1.7vw;
}
.linkc a {
  color: black;
}
.left_menu {
  color: white;
  width: 23.96vw;
}
.left_menu p {
  margin: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  margin-bottom: 10px;
}
/* .all_post {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
} */
.all_post {
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-row-gap: 24px;
}
.all_post:first-child {
  grid-column: span 2;
}
.test {
  background: red;
}
/* .all_post a:first-of-type {
  width: 200px;
} */
/* .post_container {
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
  height: 33.33vw;
  background: #1E1E1E;
  color: black;
  border-radius: 1.2%;
} */
.previous_page, .next_page {
  display: none;
}
.pagination {
  display: flex;
  gap: 14px;
}
.pagination_wrapper {
  margin-top: 30px;
  justify-content: flex-end;
  display: flex;
  font-family: Rubik;
  font-size: 18px;
  color: var(--magic);
}
.pagination_wrapper em {
  font-style: normal;
  font-weight: bold;
}
.pagination_wrapper a {
  color: var(--op50);
}
.pagination_wrapper a:hover {
  color: var(--magic);
}
.Favorite_button button {
  background: green;
  border: none;
}
.star {
  position: absolute;
  top: 0;
  left: 0;
  background: url("favorite.svg");
  background-size: contain;
  height: 24px;
  width: 24px;
}
.fit-image {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}
.info {
  height: auto;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 23px;
  min-height: 115px;
}
.postname {
  margin: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: White;
  width: 100%;
  margin: 0;
  margin-bottom: 4px;
}
.username {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #BBBBBB;
  margin: 0;
  margin-bottom: 27px;
}
.content {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #8D8D93;
}
.upperinfo {
  position: relative;
}
.overflow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.gradient {
  width: 374px;
  height: 74px;
  background: linear-gradient(360deg, #1E1E1E 0%, rgba(30, 30, 30, 0) 100%);
}
.downinfo {
  width: 100%;
  background: grey;
  font-size: 18px;
  height: 60px;
  line-height: 108%;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px -33px 54px 7px rgba(30, 30, 30, 1);
  -moz-box-shadow: 0px -33px 54px 7px rgba(30, 30, 30, 1);
  box-shadow: 0px -33px 54px 7px rgba(30, 30, 30, 1);
}
.pi, .edit, .new, .ci, .newpost, .editpost{
  width: 53.54vw;
}
.newpost h1, .editpost h1 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 108%;
  color: #D2FB51;
}
.fir {
  margin-top: 0;
}
.e_n {
  display: flex;
}
.imgp {
  width: 300px;
  height: 300px;
  margin-right: 2vw;
}
.pinfo {
  display: flex;
}
.pinfo h1 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 108%;
  color: #D2FB51;
  padding: 0;
  margin: 0;
}
.pinfo p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: #FFFFFF;
}
.statics {
  margin-top: 4%;
  display: flex;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: #FFFFFF;
  align-items: baseline
}
.statics > * {
  margin-right: 7vw;
}
.statics p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: #FFFFFF;
      white-space: nowrap;
}
.fav {
  margin-right: 0;
}
.fav a {
  color: #333;
}
.fav a:hover {
  color: white;
}
.ptinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.postinfo {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}
.tgth {
  display: flex;
}
.postinfo > * {
  /* margin-right: 5%; */
}
.uhoh {
  color: red;
}
.buttons {
  display: flex;
  margin-top: 15px;
}
.buttons a, .other a {
  background: #D2FB51;
  border: none;
  color: black;
  padding: 10px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
}
.other a {
  margin-right: 20px;
}
.other {
  display: flex;
  align-items: baseline
}
.lol {
  background: #D2FB51;
  border: none;
  color: black;
  padding: 10px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
}
.more a {
  background: #D2FB51;
  border: none;
  color: black;
  padding: 10px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
}
.dothis {
  margin-top: 30px;
  display: flex;
  align-items: baseline;
}
.dothis p {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.lil {
  background: #D2FB51;
  border: none;
  color: black;
  padding: 11px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
}
.timeline_and_add {
  position: relative;
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: space-between;
}
.line {
  position: relative;
  width: 6px;
  background: #D2FB51;
  height: calc(100% - 14%);
}
.line_container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 700px;
  /* background: blue; */
}
.allevents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event {
  display: flex;
  margin-left: -50px;
}
.eventinfo {
  margin-left: 1.9vw;
}
.h1 h1 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 108%;
  color: white;
  margin: -2px;
  margin-right: 10px;
}
.eventinfo .h1 {
  display: flex;
  margin-bottom: 15px;
}
.eventinfo p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 108%;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}
.dot {
  width: 50px;
  height: 50px;
  background: #D2FB51;
  border-radius: 100%;

}
.timeline {
  display: flex;
}
.add {
  width: 25.97vw;
}
.add h2 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: white;
  margin-bottom: 8%;
}
.field {
  width: 90%;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 108%;
  color: white;
}
.eve {
  margin-bottom: 20px !important;

}
.lal {
  min-width: 38.5vw;
  border: none;
  color: black;
  padding: 10px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
  max-width: 38.5vw;
}
.lel {
  width: 90%;
  border: none;
  color: black;
  padding: 10px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
  max-width: 100%;
  margin-top: 7px;
}
.lel:focus {
  border: none;
  outline: none !important;
  box-shadow: none;
}
.ev {
  margin-top: 7%;
}
.lal:focus {
  border: none;
  outline: none !important;
  box-shadow: none;
}
.buttons > * {
  transition: 0.1s ease all;
  margin-right: 20px;
}
.buttons > *:hover {
  opacity: 0.5;
}
.lol:hover {
  opacity: 0.5;
}
.updown {
  margin-right: 7%;
  font-size: 36px;
  line-height: 49px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.1%;
}
/* .vott a {
  display: none;
} */
.stats {
  align-items: flex-end;
  background: #1E1E1E;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.cached {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: white;
}
.cc {
  display: flex;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
.comm-icon {
  background: url("comm-icon.svg");
  height: 22px;
  width: 22px;
  background-size: contain;
  margin-right: 7px;
}
.fav {
  position: absolute;
  top: 0;
  left: 0;
}
.arrow {
  width: 13px;
  height: 10px;
  background: url("arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.sleep {
  opacity: 0.3;
}
.down {
  transform: rotate(180deg);
}
.a_c {
  display: flex;
}
.a_c p {
  display: flex;
  color: white;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 108%;
}
.about {
  color: white;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 108%;
  width: 25.97vw;
}
.a_c > * {
  margin-right: 20px;
}
/* .post_container:hover .hov {
  opacity: 0.4;
} */
.post_container:hover {
  opacity: 0.5;
}
.hov {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D2FB51;
  opacity: 0;
}
#green {
  color: #D2FB51;
}

.cover {
  height: 315px;
}

.rating {
  display: flex;
  align-items: baseline;
}
.rating span {
  font-size: 24px;
  line-height: 108%;
  margin-right: 5px;
}
.postname2 {
  margin: 0;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 108%;
  color: black;
  width: 100%;
  white-space: nowrap;
}
.all_container {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}
.uppercomment {
  display: flex;
  align-items: center;
  color: black;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.uppercomment p {
  color: black;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.body {
  color: black;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.commenter {
  margin-left: 13px;
}
.uppercomment span {
  margin-left: 20px;
}
.top_menu .avatar {
  margin-left: 30px;
}
.avatar {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 100%;
}
.avatar a {
  margin: 0;
}
.av {
  object-position: center center;
  object-fit: cover;
  width: 100%;
}
.avatar:hover {
  opacity: 0.5;
}
.cover {
  display: flex;
  overflow: hidden;
}
.cov {
  object-fit: cover;
  width: 100%;
}
.cats {
  /* background: red; */
  display: flex;
  justify-content: flex-end;
  height: 3vw;
}
.cats p {
  margin-top: 0;
  margin-bottom: 0;
}
.cats > * {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 108%;
  color: white;
  margin-left: 20px;
}
a {
  color: white;
}
/* a:hover {
  color: #333;
} */
th {
  text-align: left;
}
#categ {
  margin-left: 23px;
}
.avall {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 100%;
}
.avall:hover {
  opacity: 0.5;
}
.ci td {
  padding-top: 20px;
}
#cey {
  margin-top: 82.19px;
}
.cey {
  margin-top: 82.19px;

}
.ceyy a {
  color: #D2FB51;;
}
.accounts, .ci {
  color: white;
  width: 53.54vw;
}
.accounts td, .ci td {
  font-family: Rubik;
  font-size: 24px;
  line-height: 108%;
}
.accounts th:first-of-type {
  width: 0;
}
/* .accounts th:first-of-type {
  width: 0;
} */
.accounts table, .ci table {
  border-spacing: 23px 0px;
  border-collapse: separate;
}
.accounts th, .ci th {
  margin: 0;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: #D2FB51;
  width: 70%;
}
.bread {
  color: white;
}
.bread a {
  color: #828282;
}
.bread a:hover {
  color: white;
}

/* ALL USERS */
 .user_table {
  color: white;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
 }
 .tags {
   display: flex;
   gap: 14px;
 }
 .tag {
   color: white;
  width: fit-content;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border-radius: 24px;
  border: 1px white solid;
 }
/* ALL USERS END */
