:root {
  --lime: #D2FB51;
  --magic: #FFFFFF;
  --techno: #000000;
  --op50: #8D8D93;
}

.lime {
  color: var(--lime);
}
.magic {
  color: var(--magic);
}
.techno {
  color: var(--techno);
}
.op50 {
  color: var(--op50);
}
