body {
  height: 2000px;
}
html {
  scroll-behavior: smooth;
}
.home_logo {
  background: url("home_logo.svg");
  width: 452px;
  height: 452px;
  background-size: contain;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.home_h {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  text-align: center;
  color: var(--lime);
  line-height: 119px;
  margin-top: 600px;
  margin-bottom: 500px;
}
.home_c {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--lime);
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 500px;
  .u_c, .b_c,  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
h1 {
  font-family: 'Gymkhana';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: var(--lime);
  margin-bottom: 50px;
}
.list {
  overflow: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 100px;
  p {
    margin: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: var(--magic);
  }
  .t_one, .t_two, .t_three {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }
}
.sall {
  p {
    margin-bottom: 7px;
    width: max-content;
  }
  .underline {
    width: 54%;
  }
}
.footer {
  margin-bottom: 0;
}
