.footer {
  display: flex;
  // position: absolute;
  // bottom: 0;
  width: 100%;
  height: 125px;
  margin-top: 62px;
  // margin-top: auto;
  // margin-bottom: 0;
  align-items: center;
  p {
    font-family: Rubik;
    font-size: 18px;
    line-height: 0px;
    margin-bottom: 14px;
  }
  .links{
    display: flex;
    gap: 20px;
    .underline {
      width: 100%;
      height: 1px;
      background: white;
    }
  }
}
.footer_logo_wrap {
  width: 96px;
  transition: 0.5s ease all;
  &:hover {
    opacity: 0.5;
    transition: 0.5s ease all;
  }
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.social {
  display: flex;
  align-items: center;
  gap: 17px;
  div {
    transition: 0.5s ease all;
  }
  div:hover {
    opacity: 0.5;
    transition: 0.5s ease all;
  }

  .fb {
    width:  34px;
    height: 21px;
    background: blue;
    background: url("fb.svg");
  }
  .twitter {
    width:  27px;
    height: 23px;
    background: blue;
    background: url("twitter.svg");
  }
  .instagram {
    width:  24px;
    height: 24px;
    background: blue;
    background: url("instagram.svg");
  }
}
