.content {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #8D8D93;
}
.username_diff {
  display: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #BBBBBB;
  margin: 0;
  text-align: center;
}
.content_diff {
  display: none;
}
.pic img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}
.pic_overlay {
  display: none;
}
.firstblock {
  display: grid;
  gap: 24px;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  width: 100%;
  overflow: auto;
  .post_container:last-of-type {
    max-width: 373px;
  }
  .post_container:first-of-type {
    display: flex;
    grid-column: span 2;
    .pic {
      height: 100%;
      width: 48.5%;
      z-index: 100;
    }
    .Favorite_button {
      z-index: 200;
    }
    .info {
      width: 41.5%;
      margin-left: 3%;
    }
    .postlink {
      display: flex;
    }
    .overflow {
      right: 0;
      left: auto;
      width: 51.5%;
      .gradient {
        width: 398px;
      }
    }
  }
  .post_container:nth-of-type(3),
  .post_container:nth-of-type(7) {
    // background: blue;
    .info {
      margin-top: 41%;
    }
    .gradient {
      display: none;
    }
    .downinfo {
      background: transparent;
      box-shadow: none;
    }
    .stats {
      background: transparent;
    }
    .pic {
      position: absolute;
      height: 100%;
      z-index: 0;

    }
    .postname {
      font-family: 'Gymkhana';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
    }
    .username {
      display: none;
    }
    .username_diff {
      display: block;
    }
    .content {
      text-align: center;
    }
    .content {
      display: none;
    }
    .content_diff_wrapper {
      overflow: hidden;
      height: 104px;
    }
    .content_diff {
      display: -webkit-box !important;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;


      display: block;
      font-family: Rubik;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #8D8D93;
      text-align: center;
    }
    .pic_overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }
}
.pic {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 45%;
  background: #D2FB51;
  z-index: 0;
}

.post_container {
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
  height: 33.33vw;
  background: #1E1E1E;
  color: black;
  border-radius: 1.2%;
  max-width: 770.76px;
}
.Favorite_button {
  position: absolute;
  left: 17px;
  top: 17px;
  z-index: 100;
  width: 24px;
  height: 24px;
  button {
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
  }
}

@media only screen and (max-width: 390px) and (max-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .firstblock {
    display: flex;
    flex-direction: column;
    // gap: 24px;
    // grid-template-columns: auto;
    // justify-content: space-between;
    width: 100%;
    overflow: auto;
  }
  .post_container {
    height: 53vh;
  }
  .overflow {
    right: 0;
    left: auto;
    width: 100% !important;
    }
  .post_container:nth-of-type(3) .info ,
  .post_container:nth-of-type(7) .info {
      margin-top: 34%;
  }
  .post_container:first-of-type {
    display: block;
    background: green;
    .info {
      height: auto;
      position: relative;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 34%;
      min-height: 115px;
      width: 88% !important;
    }
    .gradient {
      display: none;
    }
    .downinfo {
      background: transparent;
      box-shadow: none;
    }
    .stats {
      background: transparent;
    }
    .pic {
      position: absolute;
      height: 100% !important;
      z-index: 0 !important;
      width: 100% !important;
    }
    .postlink {
      display: block !important;
    }
    .postname {
      font-family: 'Gymkhana';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
    }
    .username {
      display: none;
    }
    .username_diff {
      display: block;
    }
    .content {
      text-align: center;
    }
    .content {
      display: none;
    }
    .content_diff_wrapper {
      overflow: hidden;
      height: 104px;
    }
    .content_diff {
      display: -webkit-box !important;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;


      display: block;
      font-family: Rubik;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #8D8D93;
      text-align: center;
    }
    .pic_overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }
}
