// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sorting {
  display: flex;
  gap: 17px;
  margin-bottom: 42px;
  .sort_rate {
    display: flex;
    align-items: baseline;
    gap: 5px;
    color: var(--lime) !important;
    .sort_icon {
      background: url("sort_icon.svg");
      width: 9px;
      height: 9px;
    }
  }
}
.sorting p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  color: #818181;
}
.sort_rate p {
  color: var(--lime) !important;
}
