// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bread {
  display: flex;
  gap: 14px;
  align-items: baseline;
  p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: white;
  }
  a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #828282;
  }
}
.fh {
  display: flex;
  align-items: center;
  gap: 10px;
}
.all_users {
  width: 100%;
  table-layout: fixed;
  td {
    height: 44px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
  }
  a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
}
.h1_g {
  font-family: 'Gymkhana';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: var(--magic);
  margin-top: 0;
  margin-bottom: 30px;
}
#w {
  width: fit-content;
}
.secondblock {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
}
.secondblock a:nth-of-type(2) .post_container {
      background: blue;
      .info {
        margin-top: 41%;
      }
      .gradient {
        display: none;
      }
      .downinfo {
        background: transparent;
        box-shadow: none;
      }
      .stats {
        background: transparent;
      }
      .pic {
        position: absolute;
        height: 100%;
        z-index: 0;

      }
      .postname {
        font-family: 'Gymkhana';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
      }
      .username {
        display: none;
      }
      .username_diff {
        display: block;
      }
      .content {
        text-align: center;
      }
      .content {
        display: none;
      }
      .content_diff_wrapper {
        overflow: hidden;
        height: 104px;
      }
      .content_diff {
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: block;
        font-family: Rubik;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #8D8D93;
        text-align: center;
      }
      .pic_overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
      }
    }
#us {
  color: var(--magic);
  font-family: 'Gymkhana';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
#u {
  margin-bottom: 0;
}
.user_favorites {
  margin-top: 80px;
}
.filled {
  background: url("favorite_filled.svg");
  width: 24px;
  height: 24px;
  background-size: contain;
}
.unfilled {
  background: url("favorite_unfilled.svg");
  width: 24px;
  height: 24px;
  background-size: contain;
}
.u_f_row {
  display: flex;
  width: 67%;
  justify-content: space-between
}
.votable {
  display:flex;
  align-items: center;
  gap: 5px;
}
.u_r  {
  .votable {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .toggle {
    font-size: 20px;
  }
}
.divide {
  display: flex;
  gap: 25px;
  align-items: center;
}
.fav_list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-bottom: 40px;
  a {
    transition: 0.5s ease all;
  }
  a:hover {
    opacity: 0.5;
    transition: 0.5s ease all;

  }
}
.circe {
  display: block;
  min-width: 25px;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 100%;
}
.zodiac {
  background: url("zodiac.svg");
  width: 32.86px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
}
.admin_panel {
  margin-top: 80px;
  margin-bottom: 80px;
}
